<div>To Do List</div>
<input type="text" [formControl]="addThingToDo" (keyup)="onKeyUp($event)" />
<button (click)="addToDoSubmit()">Add</button>
<div *ngFor="let thingToDo of thingsToDo | keyvalue">
  <div>
    <input
      type="checkbox"
      (change)="toggleCompletedToDo(thingToDo.value.id)"
      [checked]="thingToDo.value.complete"
    />
    <span [ngClass]="{ 'completed-task': thingToDo.value.complete }">
      {{ thingToDo.value.description }}
    </span>
  </div>
</div>

<div>Current Store!</div>
<div>{{ thingsToDo | json }}</div>
